<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
      <extension-point id="org.ddialliance.ddieditor.extensionpoints.addattr"
            name="AdditionalAttributes"
            schema="schema/org.ddialliance.ddieditor.extensionpoints.addattr.exsd"/>

      <extension id="application" point="org.eclipse.core.runtime.applications">
            <application>
                  <run class="org.ddialliance.ddieditor.ui.Application"> </run>
            </application>
      </extension>
      <extension point="org.eclipse.ui.perspectives">
            <perspective class="org.ddialliance.ddieditor.ui.perspective.ConceptsPerspective"
                  id="org.ddialliance.ddieditor.ui.perspective.ConceptsPerspective" name="Concepts"> </perspective>
            <perspective class="org.ddialliance.ddieditor.ui.perspective.CodesPerspective"
                  id="org.ddialliance.ddieditor.ui.perspective.CodesPerspective" name="Codes"> </perspective>
            <perspective class="org.ddialliance.ddieditor.ui.perspective.InfoPerspective"
                  id="org.ddialliance.ddieditor.ui.perspective.InfoPerspective" name="Overview"> </perspective>
            <perspective name="Questions"
                  class="org.ddialliance.ddieditor.ui.perspective.QuestionsPerspective"
                  id="org.ddialliance.ddieditor.ui.perspective.QuestionsPerspective"> </perspective>
            <perspective name="Instrument"
                  class="org.ddialliance.ddieditor.ui.perspective.InstrumentPerspective"
                  id="org.ddialliance.ddieditor.ui.perspective.InstrumentPerspective"
            > </perspective>
      </extension>
      <extension point="org.eclipse.ui.views">
            <view class="org.ddialliance.ddieditor.ui.view.InfoView" icon="icons/tree.gif"
                  id="org.ddialliance.ddieditor.ui.view.InfoView" name="OverView"> </view>
            <view class="org.ddialliance.ddieditor.ui.view.ConceptView" icon="icons/tree.gif"
                  id="org.ddialliance.ddieditor.ui.view.ConceptView" name="Concepts"> </view>
            <view class="org.ddialliance.ddieditor.ui.view.CodeView" icon="icons/tree.gif"
                  id="org.ddialliance.ddieditor.ui.view.CodeView" name="Codes" restorable="true"> </view>
            <view class="org.ddialliance.ddieditor.ui.view.QuestionItemView" icon="icons/tree.gif"
                  id="org.ddialliance.ddieditor.ui.view.QuestionItemView" name="Questions"> </view>
            <view class="org.ddialliance.ddieditor.ui.view.InstrumentView" icon="icons/tree.gif"
                  id="org.ddialliance.ddieditor.ui.view.InstrumentView" name="Instrument"
                  restorable="true"> </view>
      </extension>
      <extension point="org.eclipse.ui.editors">
            <editor class="org.ddialliance.ddieditor.ui.editor.question.QuestionSchemeEditor"
                  default="false" icon="icons/editor_area.gif"
                  id="org.ddialliance.ddieditor.ui.editor.question.QuestionSchemeEditor"
                  name="QuestionSchemeEditor"> </editor>
            <editor class="org.ddialliance.ddieditor.ui.editor.question.QuestionItemEditor"
                  default="false" icon="icons/editor_area.gif"
                  id="org.ddialliance.ddieditor.ui.editor.question.QuestionItemEditor"
                  name="QuestionItemEditor"> </editor>
            <editor class="org.ddialliance.ddieditor.ui.editor.concept.ConceptEditor"
                  default="false" icon="icons/editor_area.gif"
                  id="org.ddialliance.ddieditor.ui.editor.concept.ConceptEditor"
                  name="ConceptEditor"> </editor>
            <editor class="org.ddialliance.ddieditor.ui.editor.concept.ConceptSchemeEditor"
                  default="false" icon="icons/editor_area.gif"
                  id="org.ddialliance.ddieditor.ui.editor.concept.ConceptSchemeEditor"
                  name="ConceptSchemeEditor"> </editor>
            <editor class="org.ddialliance.ddieditor.ui.editor.code.CodeSchemeEditor"
                  default="false" icon="icons/editor_area.gif"
                  id="org.ddialliance.ddieditor.ui.editor.code.CodeSchemeEditor"
                  name="CodeSchemeEditor"> </editor>
            <editor class="org.ddialliance.ddieditor.ui.editor.study.StudyUnitEditor"
                  default="false" icon="icons/editor_area.gif"
                  id="org.ddialliance.ddieditor.ui.editor.study.StudyUnitEditor"
                  name="StudyUnitEditor"> </editor>
            <editor
                  class="org.ddialliance.ddieditor.ui.editor.instrument.InstrumentEditor"
                  default="false"
                  icon="icons/editor_area.gif"
                  id="org.ddialliance.ddieditor.ui.editor.instrument.InstrumentEditor"
                  name="InstrumentEditor">
            </editor>
            <editor
                  class="org.ddialliance.ddieditor.ui.editor.instrument.StatementItemEditor"
                  default="false"
                  icon="icons/editor_area.gif"
                  id="org.ddialliance.ddieditor.ui.editor.instrument.StatementItemEditor"
                  name="StatementItemEditor">
            </editor>
            <editor
                  class="org.ddialliance.ddieditor.ui.editor.instrument.IfThenElseEditor"
                  default="false"
                  icon="icons/editor_area.gif"
                  id="org.ddialliance.ddieditor.ui.editor.instrument.IfThenElseEditor"
                  name="IfThenElseEditor">
            </editor>
            <editor
                  class="org.ddialliance.ddieditor.ui.editor.instrument.RepeatUntilEditor"
                  default="false"
                  icon="icons/editor_area.gif"
                  id="org.ddialliance.ddieditor.ui.editor.instrument.RepeatUntilEditor"
                  name="RepeatUntil">
            </editor>
            <editor
                  class="org.ddialliance.ddieditor.ui.editor.instrument.RepeatWhileEditor"
                  default="false"
                  icon="icons/editor_area.gif"
                  id="org.ddialliance.ddieditor.ui.editor.instrument.RepeatWhileEditor"
                  name="RepeatWhileEditor">
            </editor>
            <editor
                  class="org.ddialliance.ddieditor.ui.editor.instrument.ComputationItemEditor"
                  default="false"
                  icon="icons/editor_area.gif"
                  id="org.ddialliance.ddieditor.ui.editor.instrument.ComputationItemEditor"
                  name="ComputationItemEditor">
            </editor>
            <editor
                  class="org.ddialliance.ddieditor.ui.editor.instrument.LoopEditor"
                  default="false"
                  icon="icons/editor_area.gif"
                  id="org.ddialliance.ddieditor.ui.editor.instrument.LoopEditor"
                  name="LoopEditor">
            </editor>
            <editor
                  class="org.ddialliance.ddieditor.ui.editor.file.FileEditor"
                  default="false"
                  icon="icons/editor_area.gif"
                  id="org.ddialliance.ddieditor.ui.editor.file.FileEditor"
                  name="DDI 3 File">
            </editor>
      </extension>
      <extension id="org.eclipse.ui.idexportwizard" name="Export Wizard Extension Point"
            point="org.eclipse.ui.exportWizards">
            <wizard name="ExportDDIXml" icon="icons/properties.gif"
                  class="org.ddialliance.ddieditor.ui.wizard.export.ExportDdiXmlWizard"
                  id="org.ddialliance.ddieditor.ui.wizard.exportddi.ExportDdiXmlWizard">
                  <description> %Export DDI </description>
            </wizard>
      </extension>
      <extension id="product" point="org.eclipse.core.runtime.products">
            <product application="DDIEditor.application" name="DDI Editor">
                  <property name="appName" value="DDI Editor"> </property>
                  <property name="startupForegroundColor" value="000000"> </property>
                  <property name="startupMessageRect" value="7,252,445,20"> </property>
                  <property name="startupProgressRect" value="5,275,445,15"> </property>
                  <property name="preferenceCustomization" value="plugin_customization.ini"> </property>
                  <property name="aboutText"
                        value="DDI Editor (Beta Version)&#x0A;&#x0A;DDI Editor UI Version: 1.0.0&#x0A;DDI Manager Version: 1.0.0"> </property>
                  <property name="aboutImage" value="icons/alt_about.gif"> </property>
            </product>
      </extension>
      <extension point="org.eclipse.ui.preferencePages">
            <page class="org.ddialliance.ddieditor.ui.preference.page.DdiPreferencePage"
                  id="org.ddialliance.ddieditor.ui.preference.page.DdiPreferencePage" name="DDI"> </page>
            <page
                  class="org.ddialliance.ddieditor.ui.preference.page.DdiEditorBackendPreferencePage"
                  id="org.ddialliance.ddieditor.ui.preference.page.DdiEditorBackendPreferencePage"
                  name="DDIEditor Backend"> </page>
            <page class="org.ddialliance.ddieditor.ui.preference.page.DdiEditorUiPreferencePage"
                  id="org.ddialliance.ddieditor.ui.preference.page.DdiEditorUiPreferencePage"
                  name="DDIEditor UI"> </page>
      </extension>
      <extension point="org.eclipse.core.runtime.preferences">
            <initializer class="org.ddialliance.ddieditor.ui.preference.PreferenceInitializer"
            > </initializer>
      </extension>
      <extension point="org.eclipse.ui.startup">
            <startup class="org.ddialliance.ddieditor.ui.perspective.AutoChangePerspectiveListener"
            />
      </extension>
      <extension
            point="org.eclipse.ui.commands">
         <command
               defaultHandler="org.ddialliance.ddieditor.ui.command.OpenDDI3File"
               id="org.ddialliance.ddieditor.ui.command.OpenDDI3File"
               name="OpenDDI3File">
         </command>
         <command
               defaultHandler="org.ddialliance.ddieditor.ui.command.ExportDDI3File"
               id="org.ddialliance.ddieditor.ui.command.ExportDDI3File"
               name="ExportDDI3File">
         </command>
         <command
               defaultHandler="org.ddialliance.ddieditor.ui.command.NewDDI3File"
               id="org.ddialliance.ddieditor.ui.command.NewDDI3File"
               name="New DDi 3 File">
         </command>
         <command
               defaultHandler="org.ddialliance.ddieditor.ui.command.ExportResourceList"
               id="org.ddialliance.ddieditor.ui.command.ExportResourceList"
               name="Export resource list">
         </command>
         <command
               defaultHandler="org.ddialliance.ddieditor.ui.command.DeleteSingleDDI3"
               id="org.ddialliance.ddieditor.ui.command.DeleteSingleDDI3"
               name="Delete Single DDI3 resource">
         </command>
         <command
               defaultHandler="org.ddialliance.ddieditor.ui.command.DeleteAllDDI3"
               id="org.ddialliance.ddieditor.ui.command.DeleteAllDDI3"
               name="Delete All DDI3 Resources">
         </command>
      </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               locationURI="menu:org.eclipse.ui.main.menu">
            <menu
                  id="labelMenu"
                  label="File"
                  mnemonic="F">                  
               <menu
                     icon="icons/import_wiz.gif"
                     id="filemenu-importmenu"
                     label="Import"
                     mnemonic="I">                     
               <command
                     commandId="org.ddialliance.ddieditor.ui.command.OpenDDI3File"
                     icon="icons/project_open.gif"
                     label="Ingest DDI3 File"
                     mnemonic="O"
                     style="push">
               </command>
               <command
                     commandId="org.ddialliance.ddieditor.ui.command.NewDDI3File"
                     icon="icons/newfile_wiz.gif"
                     id="new-ddi-3-file"
                     label="New DDI 3 File"
                     mnemonic="N"
                     style="push">
               </command>
               </menu>
               <separator
                     name="seperator-1"
                     visible="true">
               </separator>
               <command
                     commandId="org.eclipse.ui.file.close"
                     label="Close"
                     mnemonic="C"
                     style="push">
               </command>
               <command
                     commandId="org.eclipse.ui.file.closeAll"
                     id="l"
                     label="Close All"
                     style="push">
               </command>
               <separator
                     name="seperator-2"
                     visible="true">
               </separator>
               <command
                     commandId="org.eclipse.ui.file.save"
                     id="save"
                     label="Save"
                     mnemonic="S"
                     style="push">
               </command>
               <command
                     commandId="org.eclipse.ui.file.saveAll"
                     label="Save All"
                     mnemonic="e"
                     style="push">
               </command>
               <separator
                     name="separator-3"
                     visible="true">
               </separator>
               <menu
                     icon="icons/export_wiz.gif"
                     label="Export"
                     mnemonic="E">
                  <command
                        commandId="org.ddialliance.ddieditor.ui.command.ExportDDI3File"
                        icon="icons/text.gif"
                        id="ddi-export"
                        label="DDI3"
                        mnemonic="D"
                        style="push">
                  </command>
                  <command
                        commandId="org.ddialliance.ddieditor.ui.command.ExportResourceList"
                        icon="icons/usage.gif"
                        label="Resource list"
                        mnemonic="r"
                        style="push">
                  </command>
               </menu>
               <separator
                     name="ddieditor-ui.separator4"
                     visible="true">
               </separator>
               <command
                     commandId="org.ddialliance.ddieditor.ui.command.DeleteSingleDDI3"
                     icon="icons/delete_obj.gif"
                     label="Delete"
                     mnemonic="D"
                     style="push">
               </command>
               <command
                     commandId="org.ddialliance.ddieditor.ui.command.DeleteAllDDI3"
                     icon="icons/delete_obj.gif"
                     label="Delete All"
                     mnemonic="e"
                     style="push">
               </command>
               <separator
                     name="ddieditor-ui.separator5">
               </separator>
               <command
                     commandId="org.eclipse.ui.file.exit"
                     id="exit"
                     label="Exit"
                     mnemonic="x"
                     style="push">
               </command>
            </menu>
            <menu
                  id="window"
                  label="Window"
                  mnemonic="W">
               <command
                     commandId="org.eclipse.ui.window.preferences"
                     icon="icons/properties.gif"
                     label="Perefrences"
                     mnemonic="P"
                     style="push">
               </command>
            </menu>
            <menu
                  id="hlp"
                  label="Help"
                  mnemonic="H">
               <command
                     commandId="org.eclipse.ui.help.aboutAction"
                     label="About"
                     mnemonic="A"
                     style="push">
               </command>
            </menu>
         </menuContribution>
         <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar">
			<toolbar id="org.eclipse.ui.workbench.file">
				<command 
					commandId="org.eclipse.ui.file.save" 
					style="push">
				</command>
			</toolbar>
		</menuContribution>
      </extension>      
</plugin>
